In [5]:
exec(open("/content/A2_utility_poojithavarma_Tirumalraju.py").read())

In [11]:
txtfile_df = txtfile("network_data.txt")
print("Number of columns in text file:")
print(len(txtfile_df))

Number of columns in text file:
7756

In [15]:
txtfile_df.iloc[-10, :] 

#10th record from end in text file

id_visitor                                         1423000136_QEpynk40vlyS2yav
id_session                                    ae4ab33670c16d0eba0d0d87f1508596
dim_session_number                                                           2
dim_user_agent               Mozilla/5.0 (Linux; U; Android 4.2.2; en-au; G...
dim_device_app_combo                                      Android Tablet - Web
ds                                                                  2015-01-07
ts_min                                                     2015-01-07 12:16:29
ts_max                                                     2015-01-07 12:54:08
did_search                                                                   0
sent_message                                                                 0
sent_booking_request                                                         0
next_id_session                                                            NaN
next_dim_session_number                                                    NaN
next_dim_user_agent                                                        NaN
next_dim_device_app_combo                                                  NaN
next_ds                                                                    NaN
next_ts_min                                                                NaN
next_ts_max                                                                NaN
next_did_search                                                            NaN
next_sent_message                                                          NaN
next_sent_booking_request                                                  NaN
Name: 7746, dtype: object

In [17]:
neuraldata_csv = csvfile("Neural_data.csv")
print("Number of rows Neuraldata file is: {}".format(neuraldata_csv.shape[0]))

Number of rows Neuraldata file is: 1244

In [19]:
neuraldata_csv.iloc[-4:, :] 

#last 4 records in csv file

,Intensity_MassDisplacement_PI,Intensity_MaxIntensityEdge_DAPI,Intensity_MaxIntensityEdge_PI,Intensity_MaxIntensity_DAPI,Intensity_MaxIntensity_PI,Intensity_MeanIntensityEdge_DAPI,Intensity_MeanIntensityEdge_PI,Intensity_MeanIntensity_DAPI,Intensity_MeanIntensity_PI,Intensity_MedianIntensity_DAPI,...,Intensity_MinIntensityEdge_PI,Intensity_MinIntensity_DAPI,Intensity_MinIntensity_PI,Intensity_StdIntensityEdge_DAPI,Intensity_StdIntensityEdge_PI,Intensity_StdIntensity_DAPI,Intensity_StdIntensity_PI,Intensity_UpperQuartileIntensity_DAPI,Intensity_UpperQuartileIntensity_PI,Number_Object_Number
1240,0.119342,0.048783,0.041337,0.189441,0.043961,0.035985,0.036574,0.091565,0.037603,0.094690,...,0.032273,0.029877,0.032166,0.004301,0.002227,0.042145,0.001983,0.131117,0.038849,1241
1241,0.356634,0.045762,0.043305,0.209979,0.044053,0.033939,0.037047,0.090018,0.037711,0.094888,...,0.032563,0.029175,0.032563,0.003367,0.002323,0.043906,0.002087,0.123884,0.039307,1242
1242,0.031105,0.055741,0.039704,0.224430,0.042100,0.035622,0.034686,0.108055,0.036322,0.110582,...,0.030747,0.025147,0.030747,0.005272,0.001641,0.053612,0.002031,0.154421,0.037766,1243
1243,0.134875,0.104402,0.039170,0.145342,0.041932,0.043057,0.034542,0.085206,0.036329,0.089799,...,0.030411,0.030243,0.030411,0.011060,0.001748,0.032231,0.001964,0.112718,0.037705,1244

In [21]:
excel_file = excelfile("Excel_report.xlsx")
#shape of excel file
print("Shape of excel file is: {}".format(excel_file.shape))

Shape of excel file is: (700, 16)

In [24]:
 excel_file.iloc[4:5, :]
 
 #5th record in excel file

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
4,Midmarket,Mexico,Carretera,None,2470.0,3,15,37050.0,0.0,37050.0,24700.0,12350.0,2014-06-01,6,June,2014

In [33]:
bs_object = bs(htmlfile('grativational_wave.html'), 'html.parser')
number_of_times = 0
for para in bs_object.find_all("p"):
  para1 = para.text.lower()
  if "gravitational wave" in para1:
    number_of_times = number_of_times + 1

print("Number of paragraphs in file is: {}".format(len(bs_object.find_all("p"))))
print("Number of paragraphs containing text gravitational wave is: {}".format(number_of_times))

Number of paragraphs in file is: 23
Number of paragraphs containing text gravitational wave is: 12

In [41]:
json_file = jsonfile("nested_data.json")
print("shape of data in the json file is: {}".format(json_file.shape))
print("column having the most number of null values is: {}".format(json_file.count().idxmin()))

shape of data in the json file is: (1000, 12)
column having the most number of null values is: :@computed_region_cbhk_fwbd

In [ ]:
connection = sqlitefile('chinook.db')
pd.read_sql_query("SELECT a.Name as ArtistName, count(alb.AlbumId) as AlbumNum from artists AS a JOIN albums AS alb ON a.artistId = alb.artistId GROUP BY Artistname ORDER BY AlbumNum DESC LIMIT 1 ",connection)

In [ ]:
pd.read_sql_query("SELECT BillingState AS state , count(DISTINCT CustomerId) AS CustomerNum from invoices WHERE BillingCountry='USA' GROUP BY BillingState ORDER BY CustomerNum DESC LIMIT 1",connection)

#state in USA that has the most number of distinct customers in sql db file.

  state  CustomerNum
0    CA            3